main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-titleFav {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.displaySaveP {
    margin-top: 10px;
    height: 151px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#cardFavorites {
    width: 1250px;
}


