main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-titleSh {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

#instructions {
    margin-bottom: 20px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#inputShareUsername {
    text-align: center;
}

#favButtonDiv {
    text-align: center;
}

#cardShare {
    width: 1250px;
    height: 466.88px;
}

#displayCurrentPrompt {
    margin-top: 10px;
    height: 151px;
}

#cardShareInput {
    height: 390px;
}

#requests {
    height: 139px;
}