body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: calibri;
    height: 100vh;
  }
  
  header {
    flex: 0 80px;
    flex-direction: row;
    background: #fc6c85;
    font-weight: bold;
  }

  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }

  li {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer {
    flex: 0 30px;
    background: #242526;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  p {
    font-family: 'Times New Roman', Times, serif;
  }

