main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

fieldset {
    margin-bottom: 30px;
}

p {
    margin-top: 50px;
    margin-bottom: 30px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#cardShare {
    width: 1000px;
}

label {
    font-weight: bold;
}

#inputShareUsername {
    text-align: center;

}
