main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fieldInput {
    margin-bottom: 30px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.displayPromptP {
    margin-top: 10px;
    height: 144px;
    width: 300px;
}




