main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fieldInput {
    margin-bottom: 45px;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.card-titleGen {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.displayPromptP {
    margin-top: 10px;
    height: 151px;
}

#cardGenerator {
    width: 1250px;
    height: 466.88px;
}




